@tailwind base;
@tailwind components;
@tailwind utilities;

.dashed {
    /* diameter of the circle */
   --d: 4px;

   background : radial-gradient(
     circle at
        var(--d)
        var(--d),

     #777A calc(var(--d) - 1px),
     #0000 var(--d)
   )
   0 0 / 15px 15px;
}

@media (prefers-color-scheme: dark) {
  .dashed {
    /* diameter of the circle */
   --d: 4px;

   background : radial-gradient(
     circle at
        var(--d)
        var(--d),

     #CCCA calc(var(--d) - 1px),
     #FFF0 var(--d)
   )
   0 0 / 15px 15px
  }
}

